{% extends 'utils/base.html' %}
{% block content %}
<style>
    .card-body:hover {
        color: white;
        }

    .card:hover {
        background-color: rgb(24, 117, 192);
    }
</style>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="card-title text-primary"><b><i class="fa-solid fa-star"></i>
                Master Pages for East Yamuna Canal</b></h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="card"
                    style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
                    <a href="{% url 'add_category' %}" class="text-dark" style="text-decoration:none;">
                        <div class="card-body">
                            <b><i class="fa-solid fa-tag"></i> Station Category Master</b>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card"
                    style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
                    <a href="{% url 'add_params' %}" class="text-dark" style="text-decoration:none;">
                        <div class="card-body">
                            <b><i class="fa-solid fa-flask"></i> Station Parameter Master</b>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>
{% endblock content %}