{% extends 'utils/base.html' %}
{% block content %}
{% load custom_tags %}
<!-- <meta http-equiv="refresh" content="30"> -->

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 text-right">
        <div class="spinner-grow spinner-grow-sm text-danger" role="status">
          <!-- <span class="sr-only"></span> -->
        </div>
        {% comment %} <a href="" data-toggle="tooltip" data-placement="top" title="50 Exceedances Alert"
          class="text-white badge badge-danger"><b>Exceedances Alert : 0</b></a>&nbsp; {% endcomment %}
        <a href="" data-toggle="tooltip" data-placement="top" title="20 Gates Alert"
          class="text-white badge badge-danger"><b>Gates Opening Alert : 0</b></a>&nbsp;
        <a href="" data-toggle="tooltip" data-placement="top" title="2 Water Scheduling Alert"
          class="text-white badge badge-danger"><b>Water Scheduling Alert : 0</b></a>
        <a href="" data-toggle="tooltip" data-placement="top" title="0 Flood Alert"
          class="text-white badge badge-danger"><b>Flood Alert : 0</b></a></p>
      </div>
    </div>
    <div class="row flex-grow">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card" style="background-color: #8109ac;color:white;">
          <div class="card-body">
            <h4 class="card-title"><b><i class="fa-solid fa-industry"></i> Total Stations</b></h4>
            <p style="font-size: 40px;"><b data-target="8" class="count">{{sites.count}}</b></p>
            <div class="text-left">
              <a href="" data-toggle="tooltip" data-placement="top" title="Live"
                class="text-white badge badge-success"><b>Live : {{live_sites}}</b></a>&nbsp;&nbsp;
              <a href="" data-toggle="tooltip" data-placement="top" title="Delay"
                class="text-white badge badge-warning"><b>Delay : {{delay_sites}}</b></a>&nbsp;&nbsp;
              <a href="" data-toggle="tooltip" data-placement="top" title="Offline"
                class="text-white badge badge-danger"><b>Offline : {{offline_sites}}</b></a>&nbsp;&nbsp;
              <a href="" data-toggle="tooltip" data-placement="top" title="Disabled"
                class="text-white badge badge-info"><b><i class="fa-solid fa-ban text-warning"></i> Disabled :
                  {{disabled_sites}}</b></a>&nbsp;&nbsp;
              <a href="" data-toggle="tooltip" data-placement="top" title="No Record Available"
                class="text-white badge badge-primary"><b> NAT :
                  {{nat_sites}}</b></a>&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card" style="background-color: #393ce3;color:white;">
          <div class="card-body">
            <h4 class="card-title"><i class="fa-solid fa-circle-info"></i> Last Reading Received</h4>
            <!-- <p style="font-size: 40px;"><b>08</b></p> -->
            <div id="marquee-data-append">
              <div class="news">
                <p><b style="font-size: 35px;">{{last_reading.site.name}}</b>&nbsp;&nbsp;<b style="font-size: 15px;">- {{last_reading.timestamp}}</b></p>
                <marquee class="news-content">
                  <b>{{last_reading.readings}}</b>
                  <!-- <b>Battery :</b> -(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> <b>Water Level :</b> -(m)
                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> <b>Flow Rate :</b> -(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> <b>Gate
                    Opening :</b> -(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> <b>Velocity :</b> -(m/s) -->
                </marquee>
                <!-- <span class="m-1 p-1" style="border: 1px solid white;padding:5px;border-radius:4px;"><b>Battery : 23(v)</b> </span>&nbsp;&nbsp;
                <span class="m-1 p-1" style="border: 1px solid white;padding:5px;border-radius:4px;"><b>Flow Rate : 12(m3/s)</b> </span>&nbsp;&nbsp;
                <span class="m-1 p-1" style="border: 1px solid white;padding:5px;border-radius:4px;"><b>Water Level : 2.3(m)</b> </span>&nbsp;&nbsp;<br><br>
                <span class="m-1 p-1" style="border: 1px solid white;padding:5px;border-radius:4px;"><b>Gate Opening : 15(mm)</b> </span>&nbsp;&nbsp;
                <span class="m-1 p-1" style="border: 1px solid white;padding:5px;border-radius:4px;"><b>Velocity : 9(m/s)</b> </span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card" style="background-color: #15b326;color:white;">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <h4 class="card-title"><i class="fa-solid fa-water"></i> Total Water Discharged</h4>
              </div>
              <div class="col-lg-4 text-right">
                <select name="" id="" class="">
                  <option value=""><small>Today</small></option>
                  <option value=""><small>Current Month</small></option>
                  <option value=""><small>Last Month</small></option>
                  <option value=""><small>Till Date</small></option>
                </select>
              </div>
            </div>
            <p><b style="font-size: 40px;" data-target="0" class="count">0</b> cusec</p>
            <!-- <div id="demo" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner"> -->
            <!-- <div class="carousel-item active">
                  <p style="font-size: 30px;"><b>Stn-001</b></p>
                  <hr>
                  <p><b>Weather : Sunny </b><img src="" alt="" width="20px" height="20px"></p>
                </div> -->
            <!-- <div class="carousel-item">
                  <p style="font-size: 40px;"><b>08</b></p>
                </div>
                <div class="carousel-item">
                  <p style="font-size: 40px;"><b>08</b></p>
                </div> -->
            <!-- </div>
            
            </div> -->
            <div class="text-left">
              <a href="" data-toggle="tooltip" data-placement="top" title="Opened Gates"
                class="mt-2 p-2 text-white badge badge-secondary"><b>Opened Gates : -</b></a>&nbsp;&nbsp;
              <a href="" data-toggle="tooltip" data-placement="top" title="Closed Gates"
                class="mt-2 p-2 text-white badge badge-primary"><b>Closed Gates : -</b></a>&nbsp;&nbsp;
              <!-- <a href="" class="text-primary" data-toggle="tooltip" data-placement="top"
                              title="Download Stations Details"><b><i class="fa-solid fa-cloud-arrow-down"></i></b></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                  <div>
                    <h4 class="card-title card-title-dash">SHARANPUR - Yamuna Stretch Details <small class="text-danger">(under development.)</small></h4>
                    <!-- <h5 class="card-subtitle card-subtitle-dash">Lorem Ipsum is simply dummy text of the
                              printing</h5> -->
                  </div>
                  <!-- <div id="performance-line-legend"></div> -->
                </div>
                <div class="chartjs-wrapper mt-5">
                  <canvas id="performaneLine"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <!-- <div class="col-lg-6 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                  <div>
                    <h4 class="card-title card-title-dash">Stationwise Water Level</h4>
                  </div>
                  <div>
                  </div>
                </div>
                <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                  <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                  </div>
                  <div class="me-3">
                    <div id="marketing-overview-legend"></div>
                  </div>
                </div>
                <div class="chartjs-bar-wrapper mt-3">
                  <canvas id="marketingOverview"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="card"
      style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <h5 class="card-title text-primary"><b><i class="fa-solid fa-list"></i> SHARANPUR - YAMUNA STRETCH
                STATIONS</b></h5>
          </div>
        </div>
        <div class="row" style="max-height: 700px;overflow-y: scroll;">
          <div class="col-lg-12">
            <table id="example" class="table table-sm table-bordered" style="width:100%">
              <thead class="bg-info">
                <tr>
                  <th class="" width="200">Station
                  </th>
                  <th class="" width="200">Prefix
                  </th>
                  <th class="" width="200">Status
                  </th>
                  <th class="" width="200">Last Reading At
                  </th>
                  <th class="" width="200">Parameter Values
                  </th>
                  <th class="" width="50">Latest Logs
                  </th>
                </tr>
              </thead>
              <tbody>
                {% if sites %}
                {% for site in sites %}
                <tr>
                  <td><b><a href="{% url 'view_site' site.uuid %}" target="_blank">{{site.site.name}}</a></b></td>
                  <td>{{site.site.prefix}}</td>
                  <td>
                    {% if site.site_status == 'Live' %}
                      <a class="text-white badge badge-success"><b>{{site.site_status}}</b></a>
                    {% elif site.site_status == 'Offline' %}
                      <a class="text-white badge badge-danger"><b>{{site.site_status}}</b></a>
                    {% elif site.site_status == 'Offline' %}
                      <a class="text-white badge badge-delay"><b>{{site.site_status}}</b></a>
                    {% else %}
                    <a class="text-danger"><b>{{site.site_status}}</b></a>
                    {% endif %}
                  </td>
                  <td>
                    {% if site.received_at %}
                      {{site.received_at}}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>
                    {% if site.readings %}
                      {{site.readings|safe}}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td class="text-center">
                    <a href="{% url 'siteinfo_data' site.uuid %}" target="_blank" class="text-info"><b><i class="fa-solid fa-list"></i></b></a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <strong class="text-center text-danger">No Record available</strong>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main-panel ends -->
</div>

<script>
  $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>

<script>
  carousel();

  function looper() {
    setTimeout(carousel, 15000); //change every 15 second
  }

  function carousel() {
    // value = Math.floor(Math.random() * 5) + 1;
    // let data = '<div class="news">\
    //             <p><b style="font-size: 40px;">Stn-00'+ value + '</b>&nbsp;&nbsp;<b style="font-size: 15px;">(27-sept-2022\
    //                 14:05:00)</b></p>\
    //             <marquee class="news-content">\
    //               <b>Battery :</b> 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> <b>Water Level :</b> 2.3(m)\
    //               <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> <b>Flow Rate :</b> 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> <b>Gate\
    //                 Opening :</b> 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> <b>Velocity :</b> 13(m/s)\
    //             </marquee>\
    //           </div>';
    // $('#marquee-data-append').html('');
    // $('#marquee-data-append').append(data);
    // looper();
  }
</script>

<script>
  const counters = document.querySelectorAll(".count");
  const speed = 400;

  counters.forEach((counter) => {
    const updateCount = () => {
      const target = parseInt(+counter.getAttribute("data-target"));
      const count = parseInt(+counter.innerText);
      const increment = Math.trunc(target / speed);
      console.log(increment);

      if (count < target) {
        counter.innerText = count + increment;
        setTimeout(updateCount, 1);
      } else {
        count.innerText = target;
      }
    };
    updateCount();
  });

</script>

<script>
  $('table').DataTable();
</script>
{% endblock content %}