{% extends 'utils/base.html' %}
{% block content %}
{% load static %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="card-title text-primary"><b><i class="fa-solid fa-circle-plus"></i> Add New Station</b></h5>
                    </div>
                    {% comment %} <div class="col-lg-6 text-right">
                        <a href="" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                        title="Add new Station to saharanpur yamuna stretch"><b><i class="fa-solid fa-circle-plus"></i> Add New Station</b></a>
                    </div> {% endcomment %}
                </div>
                <hr>
                <div class="row" style="">
                    <div class="col-lg-12">
                        <p class="card-headings-text" style="background-color: #6db8e6;padding: 10px;border-radius: 5px;"><i class="fa-solid fa-circle-info"></i> Station Basic Information</p>
                        <div class="row">
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Station Name &nbsp;&nbsp;
                                        <small id="valid-name" style="display: none;color: red;"><strong>Enter valid station name!</strong></small></b></label>
                                    <input type="text" id="name" maxlength="70" onkeypress="return /[a-zA-Z ]/i.test(event.key)" class="form-control" placeholder="Enter fullname">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Station Prefix &nbsp;&nbsp;
                                        <small id="valid-prefix" style="display: none;color: red;"><strong>Enter valid prefix!</strong></small></b></label>
                                    <input type="text" id="prefix" maxlength="70" onkeypress="return /[a-zA-Z ]/i.test(event.key)" class="form-control" placeholder="Enter prefix in lower case">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Station ID (Site ID) &nbsp;&nbsp;
                                        <small id="valid-site-id" style="display: none;color: red;"><strong>Enter valid site-id!</strong></small></b></label>
                                    <input type="text" id="site-id" maxlength="70" onkeypress="return /[a-zA-Z ]/i.test(event.key)" class="form-control" placeholder="Enter site-id in lower case" value="site-001" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Version &nbsp;&nbsp;
                                        <small id="valid-version" style="display: none;color: red;"><strong>Enter valid version!</strong></small></b></label>
                                    <input type="text" id="version" maxlength="70" onkeypress="return /[a-zA-Z ]/i.test(event.key)" class="form-control" placeholder="Enter version in lower case" readonly value="1.0">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Station Email <i class="fa-solid fa-envelope"></i>  &nbsp;&nbsp;
                                        <small id="valid-email" style="display: none;color: red;"><strong>Enter valid email!</strong></small></b></label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Station Contact <i class="fa-solid fa-phone"></i>  &nbsp;&nbsp;
                                        <small id="valid-contact" style="display: none;color: red;"><strong>Enter valid contact!</strong></small></b></label>
                                    <input type="text" maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" id="contact" placeholder="Enter contact">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Station Secondary Email <i class="fa-solid fa-envelope"></i>  &nbsp;&nbsp;
                                        <small id="valid-secondary-email" style="display: none;color: red;"><strong>Enter valid email!</strong></small></b></label>
                                    <input type="email" class="form-control" id="sec-email" placeholder="Enter secondary email">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Station Secondary Contact <i class="fa-solid fa-phone"></i>  &nbsp;&nbsp;
                                        <small id="valid-secondary-contact" style="display: none;color: red;"><strong>Enter valid station contact!</strong></small></b></label>
                                    <input type="text" maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" id="sec-contact" placeholder="Enter secondary contact">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Station Type/Category <i class="fa-solid fa-industry"></i>  &nbsp;&nbsp;
                                        <small id="valid-site-type" style="display: none;color: red;"><strong>Select valid station type!</strong></small></b></label>
                                    <select id="site-type" class="form-control">
                                        <option selected value="" class="d-none">Choose station type</option>
                                        {% for category in site_category %}
                                            <option value='{{category.uuid}}'>{{category.category_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <label for=""><b>Demo Station?</b></label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="demo-site" id="inlineRadio1" value="1">
                                    <label class="form-check-label" for="inlineRadio1"><b>Yes</b></label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" checked name="demo-site" id="inlineRadio2" value="0">
                                    <label class="form-check-label" for="inlineRadio2"><b>No</b></label>
                                  </div>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <p class="card-headings-text"  style="background-color: #6db8e6;padding: 10px;border-radius: 5px;"><i class="fa-solid fa-location-dot"></i> Station Address Information</p>
                        <div class="row">
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Pincode &nbsp;&nbsp;
                                        <small id="valid-pincode" style="display: none;color: red;"><strong>Enter valid pincode!</strong></small></b></label>&nbsp;
                                    <div class="spinner-border spinner-border-sm text-primary d-none" id="pincode-spinner" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <input type="text" maxlength="6" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" onkeyup="getPostalAddress()" id="pincode" placeholder="Enter pincode">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>City</b></label>
                                    <input type="text" class="form-control" id="city" readonly placeholder="-">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>State</b></label>
                                    <input type="text" class="form-control" id="state" readonly placeholder="-">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Country</b></label>
                                    <input type="text" class="form-control" id="country" readonly value="India" placeholder="Enter country">
                                </div>
                            </div>
                            <div class="col-lg-6 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Address &nbsp;&nbsp;
                                        <small id="valid-address" style="display: none;color: red;"><strong>Enter valid pincode!</strong></small></b></label>
                                    <textarea class="form-control" id="address" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Lattitude</b></label>
                                    <input type="text" class="form-control" id="lattitude" placeholder="Enter lattitude">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Longitude</b></label>
                                    <input type="text" class="form-control" id="longitude" placeholder="Enter longitude">
                                </div>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <p class="card-headings-text"  style="background-color: #6db8e6;padding: 10px;border-radius: 5px;"><i class="fa-solid fa-server"></i> Station Data Transmission & Alerts Services</p>
                        <div class="row mb-4">
                            <div class="col-lg-3 mb-1">
                                <input type="checkbox" id="data2nic" class="" value="" checked>
                                <strong class="text-secondary">Data To NIC (National Informatics Centre)</strong>
                            </div>

                            <div class="col-lg-3 mb-1">
                                <input type="checkbox" id="data2sdc" class="" value="" checked>
                                <strong class="text-secondary">Data To SDC (State Data Center, Lucknow)</strong>
                            </div>

                            <div class="col-lg-3 mb-1">
                                <input type="checkbox" id="data2ce" class="" value="" checked>
                                <strong class="text-secondary">Data To CE Okhla , Delhi</strong>
                            </div>

                            <div class="col-lg-3 mb-1">
                                <input type="checkbox" id="data2wims" class="" value="" >
                                <strong class="text-secondary">Data To WIMS</strong>
                            </div>

                            <div class="col-lg-3 mb-1 mt-1">
                                <div class="form-group">
                                    <label for=""><b>NIC Alert Email <i class="fa-solid fa-envelope"></i>  &nbsp;&nbsp;
                                        <small id="valid-nic-email" style="display: none;color: red;"><strong>Enter valid NIC email!</strong></small></b>
                                    </label>
                                    <input type="nic-email" class="form-control" id="email" placeholder="Enter NIC email">
                                </div>
                            </div>

                            <div class="col-lg-3 mb-1 mt-1">
                                <div class="form-group">
                                    <label for=""><b>SDC Alert Email <i class="fa-solid fa-envelope"></i>  &nbsp;&nbsp;
                                        <small id="valid-sdc-email" style="display: none;color: red;"><strong>Enter valid SDC email!</strong></small></b>
                                    </label>
                                    <input type="sdc-email" class="form-control" id="email" placeholder="Enter SDC email">
                                </div>
                            </div>

                            <div class="col-lg-3 mb-1 mt-1">
                                <div class="form-group">
                                    <label for=""><b>CE-Okhla Alert Email <i class="fa-solid fa-envelope"></i>  &nbsp;&nbsp;
                                        <small id="valid-ce-email" style="display: none;color: red;"><strong>Enter valid CE-Okhla email!</strong></small></b>
                                    </label>
                                    <input type="ce-email" class="form-control" id="email" placeholder="Enter CE-Okhla email">
                                </div>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <p class="card-headings-text"  style="background-color: #6db8e6;padding: 10px;border-radius: 5px;"><i class="fa-solid fa-lock"></i> Station Data Encryption Information</p>
                        <div class="row">
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Data Encryption Key</b></label>
                                    <input type="text" class="form-control" id="enc-key" placeholder="Enter data encryption key (if any)">
                                </div>
                            </div>
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Private Key</b></label>
                                    <input type="text" class="form-control" id="prv-key" placeholder="Enter private key (if any)">
                                </div>
                            </div>
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Public Key</b></label>
                                    <input type="text" class="form-control" id="pub-key" placeholder="Enter public key (if any)">
                                </div>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <p class="card-headings-text"  style="background-color: #6db8e6;padding: 10px;border-radius: 5px;"><i class="fa-solid fa-database"></i> Station Other Information</p>
                        <div class="row mb-2">
                            <div class="col-lg-3 mb-1">
                                <label for=""><b> Sinage Available</b></label><br>
                                <input type="checkbox"id="sinage" class="" value="">
                                <strong class="text-secondary">Sinage (LED) available for this station</strong>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <label for=""><b> SMS Alerts</b></label><br>
                                <input type="checkbox" id="sms-alert" class="" value="">
                                <strong class="text-secondary">Send SMS Alerts for this station</strong>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <label for=""><b> Email Alerts</b></label><br>
                                <input type="checkbox" id="email-alert" class="" value="">
                                <strong class="text-secondary">Send Email Alerts for this station</strong>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <label for=""><b> Watsapp Alerts</b></label><br>
                                <input type="checkbox" id="watsapp-alert" class="" value="">
                                <strong class="text-secondary">Send Watsapp Alerts for this station</strong>
                                <p style="font-size:10px;font-weight:600;" class="text-danger">**Station primary or secondary contact should be available on watsapp.</p>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <div class="row mt-2">
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b> Station Delay After (Hrs.)</b></label>
                                    <input type="text" maxlength="2" onkeypress="return /[0-9]/i.test(event.key)"  value="4" class="form-control" id="delay-time" placeholder="Enter delay hrs.">
                                </div>
                            </div>
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b> Station Offline After (Hrs.)</b></label>
                                    <input type="text" maxlength="2" onkeypress="return /[0-9]/i.test(event.key)" value="48" class="form-control" id="offline-time" placeholder="Enter offline hrs.">
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-12 text-right">
                        <a href="{% url 'sites' %}" class="btn btn-sm btn-danger"><b>Cancel</b></a>
                        <a class="btn btn-sm btn-info"  onclick="submit_site_data()"><b><i class="fa-solid fa-circle-plus"></i> Add New Station</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'monitoring_app/js/custom_js/validation_js/user-form-validation.js' %}"></script>
<script src="{% static 'monitoring_app/js/custom_js/validation_js/site-form-validation.js' %}"></script>
<script src="{% static 'monitoring_app/js/custom_js/site_JS/add-site.js' %}"></script>
{% endblock content %}