{% extends 'utils/base.html' %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="card-title text-primary"><b><i class="fa-solid fa-circle-plus"></i> Add New Station</b></h5>
                    </div>
                    {% comment %} <div class="col-lg-6 text-right">
                        <a href="" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                        title="Add new Station to saharanpur yamuna stretch"><b><i class="fa-solid fa-circle-plus"></i> Add New Station</b></a>
                    </div> {% endcomment %}
                </div>
                <hr>
                <div class="row" style="max-height: 700px;overflow-y: scroll;">
                    <div class="col-lg-12">
                        <p class="card-headings-text"><i class="fa-solid fa-circle-info"></i> Station Basic Information</p>
                        <div class="row">
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                        </div>
                        <hr>
                        <p class="card-headings-text"><i class="fa-solid fa-circle-info"></i> Station Basic Information</p>
                        <div class="row">
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                        </div>
                        <hr>
                        <p class="card-headings-text"><i class="fa-solid fa-circle-info"></i> Station Basic Information</p>
                        <div class="row">
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                        </div>
                        <hr>
                        <p class="card-headings-text"><i class="fa-solid fa-circle-info"></i> Station Basic Information</p>
                        <div class="row">
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                        </div>
                        <hr>
                        <p class="card-headings-text"><i class="fa-solid fa-circle-info"></i> Station Basic Information</p>
                        <div class="row">
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                            <div class="col-lg-4 mb-1">
                                station name
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-right">
                        <a href="" class="btn btn-sm btn-danger"><b>Cancel</b></a>
                        <a href="" class="btn btn-sm btn-info"><b><i class="fa-solid fa-circle-plus"></i> Add New Station</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>
{% endblock content %}