{% extends 'utils/base.html' %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <h5 class="card-title text-primary"><b><i class="fa-solid fa-chart-simple" aria-hidden="true"></i>
                                Station Stats</b></h5>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-select">
                            <option selected="" class="d-none" value="">Choose parameter for stats.</option>
                            <option>Battery</option>
                            <option>Flow Rate</option>
                            <option>Water Level</option>
                            <option>Gate Opening</option>
                            <option>Velocity</option>
                          </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-select">
                            <option selected="" class="d-none" value="">Choose chart type</option>
                            <option>Line Chart</option>
                            <option>Pie Chart</option>
                            <option>Bar Chart</option>
                          </select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h4>Live chart</h4>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card"
                            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;background-color:rgb(68, 175, 207);">
                            <a class="text-white" style="text-decoration:none;">
                                <div class="card-body">
                                    <b><i class="fa-solid fa-industry"></i> Total Stations</b>
                                    <hr>
                                    <p style="font-size: 30px;"><b>08</b></p>                             
                                </div>
                            </a>
                        </div>
                    </div>
        
                    <!-- <div class="col-lg-3">
                        <div class="card"
                            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;background-color:rgb(93, 219, 68);">
                            <a class="text-white" style="text-decoration:none;">
                                <div class="card-body">
                                    <b><i class="fa-solid fa-thumbs-down"></i> Offline Stations</b>
                                    <hr>
                                    <p style="font-size: 30px;"><b>05</b></p>                                
                                </div>
                            </a>
                        </div>
                    </div> -->

                    <!-- <div class="col-lg-3">
                        <div class="card"
                            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;background-color:rgb(230, 215, 84);">
                            <a class="text-white" style="text-decoration:none;">
                                <div class="card-body">
                                    <b><i class="fa-solid fa-industry"></i> Delay Stations</b>
                                    <hr>
                                    <p style="font-size: 30px;"><b>01</b></p>                                
                                </div>
                            </a>
                        </div>
                    </div> -->

                    <div class="col-lg-6">
                        <div class="card"
                            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;background-color:rgb(235, 100, 77);">
                            <a href="" class="text-white" style="text-decoration:none;">
                                <div class="card-body">
                                    <b><i class="fa-solid fa-bell"></i> Today Exceedence Alerts</b>
                                    <hr>
                                    <p style="font-size: 30px;"><b>02</b><span></p>                                
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-1" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="card-title text-primary"><b><i class="fa-sharp fa-solid fa-location-dot" aria-hidden="true"></i> Manage Station</b></h5>
                        <div class="text-left">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Live Stations"
                              class="text-white badge badge-success"><b>Live : 5</b></a>&nbsp;&nbsp;
                            <a href="" data-toggle="tooltip" data-placement="top" title="Delay Stations"
                              class="text-white badge badge-warning"><b>Delay : 2</b></a>&nbsp;&nbsp;
                            <a href="" data-toggle="tooltip" data-placement="top" title="Offline Stations"
                              class="text-white badge badge-danger"><b>Offline : 1</b></a>&nbsp;&nbsp;
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disabled Stations"
                              class="text-white badge badge-info"><b><i class="fa-solid fa-ban text-warning"></i> Disabled : 1</b></a>&nbsp;&nbsp;
                          </div>   
                    </div>
                    <div class="col-lg-6 text-right">
                        <a href="" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top"
                        title="Generate reports"><b><i class="fa-solid fa-file"></i> Generate Reports</b></a>
                        <a href="{% url 'add_site' %}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                        title="Add new Station to saharanpur yamuna stretch"><b><i class="fa-solid fa-circle-plus"></i> Add New Station</b></a>
                    </div>
                </div>
                <hr>
                <div class="row" style="max-height: 700px;overflow-y: scroll;">
                    <div class="col-lg-12">
                        <!-- <div class="text-center">
                            <h4><b>No Station Configured!</b></h4>
                        </div> -->
                        <table id="" class="table" width="100%">
                            <thead>
                              <tr>
                                <th class="" width="200">Station
                                </th>
                                <th class="" width="200">Prefix
                                </th>
                                <th class="" width="200">Status
                                </th>
                                <th class="" width="200">Last Reading At
                                </th>
                                <th class="" width="200">Parameter Values
                                </th>
                                <th class="text-center" width="200">Station Actions
                                </th>
                                <th class="text-center" width="200">Station Enable/Disable
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><b><a href="">Station 001</a></b></td>
                                <td>System Architect</td>
                                <td><a class="text-white badge badge-success"><b>Live</b></a></td>
                                <td>27-09-2022 12:26:00 AM</td>
                                <td>Battery : 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Water Level : 2.3(m)
                                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Flow Rate : 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Gate Opening
                                  : 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Velocity : 13(m/s)
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'view_site' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view station info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit station info."><b><i class="fa-solid fa-pen-to-square"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% comment %} <a href="" class="text-info" data-toggle="tooltip" data-placement="top" title="station logs"><b><i class="fa-solid fa-bars"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endcomment %}
                                </td>
                                <td class="text-center">
                                   <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="Station Enabled">             
                                        <input class="form-check-input bg-success" type="checkbox" id="flexSwitchCheckChecked" checked="" empid="" onchange="">
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><b><a href="">Station 002</a></b></td>
                                <td>Accountant</td>
                                <td><a class="text-white badge badge-success"><b>Live</b></a></td>
                                <td>27-09-2022 12:26:00 AM</td>
                                <td>Battery : 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Water Level : 2.3(m)
                                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Flow Rate : 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Gate Opening
                                  : 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Velocity : 13(m/s)
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'view_site' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view station info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit station info."><b><i class="fa-solid fa-pen-to-square"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% comment %} <a href="" class="text-info" data-toggle="tooltip" data-placement="top" title="station logs"><b><i class="fa-solid fa-bars"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endcomment %}
                                </td>
                                <td class="text-center">
                                   <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="Station Enabled">             
                                        <input class="form-check-input bg-success" type="checkbox" id="flexSwitchCheckChecked" checked="" empid="" onchange="">
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><b><a href="">Station 003</a></b></td>
                                <td>Junior Technical Author</td>
                                <td><a class="text-white badge badge-info"><b> <i class="fa-solid fa-ban text-warning"></i> Disabled</b></a></td>
                                <td>27-09-2022 12:26:00 AM</td>
                                <td>Battery : 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Water Level : 2.3(m)
                                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Flow Rate : 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Gate Opening
                                  : 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Velocity : 13(m/s)
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'view_site' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view station info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit station info."><b><i class="fa-solid fa-pen-to-square"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% comment %} <a href="" class="text-info" data-toggle="tooltip" data-placement="top" title="station logs"><b><i class="fa-solid fa-bars"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endcomment %}
                                </td>
                                <td class="text-center">
                                   <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="Station Disabled">             
                                        <input class="form-check-input bg-danger" type="checkbox" id="flexSwitchCheckChecked" empid="" onchange="">
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><b><a href="">Station 004</a></b></td>
                                <td>Marketing Designer</td>
                                <td><a class="text-white badge badge-success"><b>Live</b></a></td>
                                <td>27-09-2022 12:26:00 AM</td>
                                <td>Battery : 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Water Level : 2.3(m)
                                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Flow Rate : 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Gate Opening
                                  : 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Velocity : 13(m/s)
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'view_site' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view station info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit station info."><b><i class="fa-solid fa-pen-to-square"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% comment %} <a href="" class="text-info" data-toggle="tooltip" data-placement="top" title="station logs"><b><i class="fa-solid fa-bars"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endcomment %}
                                </td>
                                <td class="text-center">
                                   <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="Station Enabled">             
                                        <input class="form-check-input bg-success" type="checkbox" id="flexSwitchCheckChecked" checked="" empid="" onchange="">
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><b><a href="">Station 005</a></b></td>
                                <td>Chief Financial Officer (CFO)</td>
                                <td><a class="text-white badge badge-warning"><b>Delay</b></a></td>
                                <td>27-09-2022 12:26:00 AM</td>
                                <td>Battery : 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Water Level : 2.3(m)
                                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Flow Rate : 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Gate Opening
                                  : 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Velocity : 13(m/s)
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'view_site' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view station info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit station info."><b><i class="fa-solid fa-pen-to-square"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% comment %} <a href="" class="text-info" data-toggle="tooltip" data-placement="top" title="station logs"><b><i class="fa-solid fa-bars"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endcomment %}
                                </td>
                                <td class="text-center">
                                   <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="Station Enabled">             
                                        <input class="form-check-input bg-success" type="checkbox" id="flexSwitchCheckChecked" checked="" empid="" onchange="">
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><b><a href="">Station 006</a></b></td>
                                <td>Development Lead</td>
                                <td><a class="text-white badge badge-success"><b>Live</b></a></td>
                                <td>27-09-2022 12:26:00 AM</td>
                                <td>Battery : 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Water Level : 2.3(m)
                                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Flow Rate : 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Gate Opening
                                  : 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Velocity : 13(m/s)
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'view_site' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view station info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit station info."><b><i class="fa-solid fa-pen-to-square"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% comment %} <a href="" class="text-info" data-toggle="tooltip" data-placement="top" title="station logs"><b><i class="fa-solid fa-bars"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endcomment %}
                                </td>
                                <td class="text-center">
                                   <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="Station Enabled">             
                                        <input class="form-check-input bg-success" type="checkbox" id="flexSwitchCheckChecked" checked="" empid="" onchange="">
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><b><a href="">Station 007</a></b></td>
                                <td>Chief Marketing Officer (CMO)</td>
                                <td><a class="text-white badge badge-success"><b>Live</b></a></td>
                                <td>27-09-2022 12:26:00 AM</td>
                                <td>Battery : 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Water Level : 2.3(m)
                                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Flow Rate : 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Gate Opening
                                  : 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Velocity : 13(m/s)
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'view_site' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view station info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit station info."><b><i class="fa-solid fa-pen-to-square"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% comment %} <a href="" class="text-info" data-toggle="tooltip" data-placement="top" title="station logs"><b><i class="fa-solid fa-bars"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endcomment %}
                                </td>
                                <td class="text-center">
                                   <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="Station Enabled">             
                                        <input class="form-check-input bg-success" type="checkbox" id="flexSwitchCheckChecked" checked="" empid="" onchange="">
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><b><a href="">Station 008</a></b></td>
                                <td>Pre-Sales Support</td>
                                <td><a class="text-white badge badge-danger"><b>Offline</b></a></td>
                                <td>27-09-2022 12:26:00 AM</td>
                                <td>Battery : 23(v) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Water Level : 2.3(m)
                                  <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Flow Rate : 23(m3/s) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Gate Opening
                                  : 15(mm) <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b> Velocity : 13(m/s)
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'view_site' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view station info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit station info."><b><i class="fa-solid fa-pen-to-square"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% comment %} <a href="" class="text-info" data-toggle="tooltip" data-placement="top" title="station logs"><b><i class="fa-solid fa-bars"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endcomment %}
                                </td>
                                <td class="text-center">
                                   <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="Station Enabled">             
                                        <input class="form-check-input bg-success" type="checkbox" id="flexSwitchCheckChecked" checked="" empid="" onchange="">
                                    </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>

{% endblock content %}