{% extends 'utils/base.html' %}
{% block content %}
<!-- {% load static %} -->
<style>
  /* .hover-effect:hover {
    color: white;
  } */

  /* .card-hover:hover {
    background-color: rgb(24, 117, 192);
        border-radius:3px;
  }

  .card-body {
    background-color: #fcfcfc;
  } */

</style>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="card" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <p class="card-headings-text" style="background-color: #477ada;padding: 10px;border-radius: 5px;"><i
                class="fa-solid fa-circle-info"></i> Station Information
              <span class="float-right text-white" id="reading-marquee">
              </span>
            </p>
          </div>
        </div>
        <!-- dc -->
        <div class="row">
          <div class="col-lg-4">
            <!-- <div class="card" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;"> -->
              <!-- <div class="card-body"> -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center">
                      <img
                        src="https://www.indiawaterportal.org/sites/default/files/styles/node_lead_image/public/iwp/munak-clc1.jpg"
                        alt="" style="height: 100%;width:100%;">
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>

          <div class="col-lg-8">
            <!-- <div class="card" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;"> -->
              <div class="card-body ">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-left">
                      <div class="row">
                        <div class="col-lg-5">
                          <h5>
                            <strong style="text-decoration:underline;">{{site.site.name}}</strong>
                            <small id="site-status-badge">
                            </small>
                            <br>
                            <p><b>Prefix : </b> <b class="text-secondary">{{site.site.prefix}}</b></p>
                          </h5>
                        </div>
                        <div class="col-lg-7 text-right">
                          <p class="text-secondary"><strong class="text-secondary"><a href=""  data-toggle="tooltip" data-placement="top" title="locate me on map">
                                <b><i class="fa-solid fa-location-dot"></i></b>
                              </a>{{site.site.address}}, <span class="location">{{site.site.city}}</span>,
                              {{site.site.state}}, {{site.site.zipcode}}</strong><br>
                              <strong>Longitude : </strong>{{site.site.longitude|floatformat:8}}, <strong>Latitude : </strong>{{site.site.latitude|floatformat:8}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-lg-4">
                          <p><b>Today Exceedances <a class="text-info" data-toggle="tooltip" data-placement="top" title="It is the values of parameters that are exceeded over its defined limit."><i class="fa-solid fa-circle-info"></i></a> : </b>
                            <b class="text-secondary">00</b>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <p><b>Category : </b> <b class="text-secondary">{{site.site.site_category.category_name}}</b></p>
                        </div>
                        <div class="col-lg-4">
                          <p><b>Latest Logs : </b>
                            <a href="{% url 'siteinfo_data' site.uuid %}" target="_blank" class="text-info">
                              <b><i class="fa-solid fa-list"></i></b>
                            </a>
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <p><b>Station Parameters : </b>
                            {% if reading_dict|length == 0 %}
                            <a style="width: 200px;height: 20px;font-size: 12px;background-color: #FDFF00;padding-right: 5px;"
                              class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="No parameter available">No parameter available</a>
                            {% else %}
                            {% for k, v in reading_dict.items %}
                            {% if k|title == 'Gateopening' %}
                            <b>
                              <a style="width: 90px;height: 20px;font-size: 12px;background-color: #FB3569;padding-right: 5px;"
                              class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="parameter is not live">{{k|title}}</a>
                            </b>
                            {% else %}
                            <b>
                              <a style="width: 90px;height: 20px;font-size: 12px;background-color: #38E54D;padding-right: 5px;"
                              class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="parameter is live">{{k|title}}</a>
                            </b>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <p style="font-size: 15px;font-weight:700;">Todays Weather</p>
                        </div>
                        <div class="col-lg-3" style="border: 2px solid white;border-radius:5px;background-color: #bfd5f8;">
                          <small><b>Temperature </b></small> <b><i class="text-info fa-solid fa-temperature-three-quarters"></i></b>
                          <div class="row">
                            <div class="col-lg-6">
                              <small><b><span class="temp">-</span> &#8451;</b></small>
                            </div>
                            <div class="col-lg-6">
                              <small><b><span class="farenhite">-</span> &#8457;</b></small>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 ml-1" style="border: 2px solid white;border-radius:5px;background-color: #b3f2f8;">
                          <small><b>Rainfall Posibility</b></small><b> <i class="text-secondary fa-solid fa-cloud-rain"></i></b>
                          <div class="row">
                            <div class="col-lg-12">
                              <small><b>46 &#x25; </b></small>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-5 ml-1" style="border: 2px solid white;border-radius:5px;background-color: #e2e2e2;">
                          <small><b>Weather</b></small> <b><i class="text-warning fa-solid fa-cloud"></i></b>
                          <div class="row">
                            <div class="col-lg-6">
                              <small><b class="summary">-</b></small>
                            </div>
                            <div class="col-lg-6 mb-1 text-right icon">
                              <!-- 
                                <img src="https://cdn-icons-png.flaticon.com/512/1779/1779807.png" height="50" width="50" alt="cloudy">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvEsVrAgveWIlpogi4-xwaIPZZkXu5vRciDg&usqp=CAU" height="50" width="50" alt="rainy">
                                <img src="https://img.freepik.com/premium-vector/sun-cloud-cloudy-weather-symbol-forecast-icon-isolated-white-background_80590-12618.jpg" height="50" width="50" alt="sunny">
                                <img src="https://cdn-icons-png.flaticon.com/512/1779/1779807.png" height="50" width="50" alt="thunderstorm"> -->
                                <img src="https://cdn-icons-png.flaticon.com/512/1779/1779807.png" height="50" width="50" alt="hazy">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </div> -->
          </div>
        </div>
      </div>
    </div>


    <div class="card mt-1" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <p class="card-headings-text" style="background-color: #477ada;padding: 10px;border-radius: 5px;"><i
                class="fa-solid fa-chart-simple" aria-hidden="true"></i> Station Parameters Stats.
              <span class="float-right">
                <a href="#" class="text-white">
                  <small><b>Site Filters under development.</b></small>
                </a>
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="params-cards">
              <div class="text-center">
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <!-- <div class="col-lg-3 p-1">
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #36AE7C">
                  <p><b class="text-white">-</b>
                  <span class="float-right"><small class="text-white"><b><i class="fa-solid fa-bell"></i> Alert Limit : 20v</b></small></span>
                  </p>
                </div>
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #7FDBDA">
                  <span style="font-size: 12px;"><b class="text-dark">Current Reading : 56.9v</b></span>
                  <br>
                  <span style="font-size: 12px;"><b class="text-dark">Last received at : 21-12-2022 16:45 </b></span>
                </div>
              </div>
              <div class="col-lg-3 p-1">
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #36AE7C">
                  <p><b class="text-white">Water Level <i class="fa-solid fa-water"></i></b>
                  <span class="float-right"><small class="text-white"><b><i class="fa-solid fa-bell"></i> Alert Limit : 10m</b></small></span>
                  </p>
                </div>
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #7FDBDA">
                  <span style="font-size: 12px;"><b class="text-dark">Current Reading : 3.1m</b></span>
                  <br>
                  <span style="font-size: 12px;"><b class="text-dark">Last received at : 21-12-2022 16:45 </b></span>
                </div>
              </div>
              <div class="col-lg-3 p-1">
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #36AE7C">
                  <p><b class="text-white">Flow Rate <i class="fa-solid fa-bars-staggered"></i></b>
                  <span class="float-right"><small class="text-white"><b><i class="fa-solid fa-bell"></i> Alert Limit : 20m/s</b></small></span>
                  </p>
                </div>
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #7FDBDA">
                  <span style="font-size: 12px;"><b class="text-dark">Current Reading : 2.7m/s</b></span>
                  <br>
                  <span style="font-size: 12px;"><b class="text-dark">Last received at : 21-12-2022 16:45 </b></span>
                </div>
              </div>
              <div class="col-lg-3 p-1">
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #36AE7C">
                  <p><b class="text-white">Gate Opening <i class="fa-solid fa-door-open"></i></b>
                  <span class="float-right"><small class="text-white"><b><i class="fa-solid fa-bell"></i> Alert Limit : 9mm</b></small></span>
                  </p>
                </div>
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #7FDBDA">
                  <span style="font-size: 12px;"><b class="text-dark">Current Reading : 4.7mm</b></span>
                  <br>
                  <span style="font-size: 12px;"><b class="text-dark">Last received at : 21-12-2022 16:45 </b></span>
                </div>
              </div>
              <div class="col-lg-3 p-1">
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #36AE7C">
                  <p><b class="text-white">Velocity <i class="fa-solid fa-gauge"></i></b>
                  <span class="float-right"><small class="text-white"><b><i class="fa-solid fa-bell"></i> Alert Limit : 20m/s</b></small></span>
                  </p>
                </div>
                <div class="col-lg-12" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;background-color: #7FDBDA">
                  <span style="font-size: 12px;"><b class="text-dark">Current Reading : 3.5m/s</b></span>
                  <br>
                  <span style="font-size: 12px;"><b class="text-dark">Last received at : 21-12-2022 16:45 </b></span>
                </div>
              </div> -->

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-1" style="box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);border-radius:10px;">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <p class="card-headings-text" style="background-color: #477ada;padding: 10px;border-radius: 5px;"><i
                class="fa-solid fa-arrow-trend-up"></i> Live Trends </p>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-lg-10">
              <select class="form-select">
                <option selected="" class="d-none" value="">Choose parameter for stats.</option>
                <option>Battery</option>
                <option>Flow Rate</option>
                <option>Water Level</option>
                <option>Gate Opening</option>
                <option>Velocity</option>
              </select>
            </div>
            <div class="col-lg-2">
              <select class="form-select">
                <option selected="" class="d-none" value="">Choose chart type</option>
                <option>Line Chart</option>
                <option>Pie Chart</option>
                <option>Bar Chart</option>
              </select>
            </div> -->
        </div>
        <div class="row">
          <div class="col-lg-12">
            <!-- <div class="text-center">
              <h4>Live chart</h4>
            </div> -->
            <div class="chartjs-wrapper mt-5">
              <canvas id="performaneLine"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main-panel ends -->
  </div>


  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <script src="{% static 'monitoring_app/js/custom_js/site_JS/view-site.js' %}"></script>
  {% endblock content %}