
<div class="h-16 bg-white sticky top-0 flex items-center justify-end w-full px-4 sm:px-6 z-50">
    <ul class="flex items-center justify-end gap-8">
        <!-- <li>
            <p class="flex items-center gap-2">
                <img src="{{prf_url}}" class="user-tag block w-8 h-8 rounded-full  grid place-items-center"/>
              <img class="img-circle h-8 px-2 sm:px-3" src="{{prf_url}}" alt="profile">
              <i class="far fa-user"></i>
                   <a class="user-tag block w-8 h-8 rounded-lg bg-indigo-600 grid place-items-center text-white cursor-pointer"><span id="userName" data-name="{{user_name}}">{{user_name|make_list|first}}</span></a>
                <span>Hi, {{user_name}}</span>
            </p>
        </li> -->
        <li>
            <a href="#" class="flex items-center gap-4 bg-gray-100 rounded-md px-4 py-2">
                <i class="fas fa-sign-in-alt"></i>
                <span>Hi Preeti</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center gap-4 bg-gray-100 rounded-md px-4 py-2">
                <i class="fas fa-power-off"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>