{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<style>
		body{
			{% comment %} background-image: url('https://wallpaperaccess.com/full/3910193.jpg'); {% endcomment %}
			background-image: url('https://cdn.downtoearth.org.in/uploads/0.51017800_1438861532_yamuna.jpg');
		}
	</style>
	</head>
	<body class="img js-fullheight">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"><b>East Yamuna Canal (EYC) Monitoring</b></h2>
				</div>
			</div>
			{% comment %} <center>
				<img height="200" id="login_card_header" src="https://public-images-docs.s3.ap-south-1.amazonaws.com/eyc_logo.png">
			</center> {% endcomment %}
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4" style="
				border-radius: 10px;
				padding: 20px;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center"></h3>
				  <div class="text-center text-muted mb-4">

					{% if error_msg %}
					  <h4 style="color: rgb(226, 80, 80);"><strong><i class="fa-solid fa-circle-xmark"></i> {{ error_msg }}</strong></h4>
					{% endif %}  
	
				  </div>
		      	<form action="" class="signin-form" method="post">
					{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control" name="email" value="admin" placeholder="Username" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" name="password" class="form-control" value="admin" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
					{% comment %} <a href="{% url 'dashboard' %}" class="form-control btn btn-primary submit px-3">Login</a> {% endcomment %}
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
							<input type="checkbox" checked>
							<span class="checkmark"></span>
						</label>
					</div>
					<div class="w-50 text-md-right">
						<a href="#" style="color: #fff">Forgot Password</a>
					</div>
	            </div>
	          </form>
				</div>
			</div>
		</div>
	</section>
	
	
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

