{% extends 'utils/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'monitoring_app/css/map.css' %}" />

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="card-title text-primary"><b><i class="fa fa-globe" aria-hidden="true"></i> Map View</b></h5>
                    </div>
                    <div class="col-lg-6 text-right">
                        {% comment %} <a href="" data-toggle="tooltip" data-placement="top" title="Live Stations"
                            class="text-white badge badge-success"><b>Live : 2</b></a>&nbsp;&nbsp;
                        <a href="" data-toggle="tooltip" data-placement="top" title="Delay Stations"
                            class="text-white badge badge-danger"><b>Delay : 0</b></a>&nbsp;&nbsp;
                        <a href="" data-toggle="tooltip" data-placement="top" title="Offline Stations"
                            class="text-white badge badge-warning"><b>Offline : 1</b></a>&nbsp;&nbsp; {% endcomment %}
                        <!-- <a href="" class="text-primary" data-toggle="tooltip" data-placement="top"
                            title="Download Stations Details"><b><i class="fa-solid fa-cloud-arrow-down"></i></b></a> -->
                    </div>
                </div>
                <hr>
                <div class="row" style="max-height: 700px;overflow-y: scroll;">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-secondary"><i class="fa-solid fa-industry"></i> Select Station</h5>
                                        <div class="form-group col-md-12">
                                            <select id="inputState" class="form-control">
                                                <option selected>Choose station</option>
                                                <option>Station001</option>
                                                <option>Station002</option>
                                                <option>Station003</option>
                                                <option>Station004</option>
                                                <option>Station005</option>
                                            </select>
                                        </div>
                                        <hr>
                                        <h5 class="card-title text-secondary"><i class="fa-solid fa-circle-info"></i> Selected Station Information</h5>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for=""><b>Station Name</b></label>
                                                <p>Station001</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for=""><b>Station Status</b></label>
                                                <p><span class="badge badge-success">Live</span></p>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for=""><b>Station Longitude</b></label>
                                                <p>736.873247826387</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for=""><b>Station Lattitude</b></label>
                                                <p>456.873247826387</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <hr>
                                                <label for=""><b>Current Water Level</b></label>
                                                <p>3.4 (m)</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <hr>
                                                <label for=""><b>Current Flow Rate</b></label>
                                                <p>12 (m3/s)</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for=""><b>Current Velocity</b></label>
                                                <p>14 (m/s)</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for=""><b>Gate Opening</b></label>
                                                <p>19 (mm)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-secondary"><i class="fa-solid fa-map"></i> Station on Map</h5>
                                        <!-- <p class="card-text">add saharanpur yamuna stretch map view here!</p> -->
                                        <div id="map"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2jIUfDq0QUVMJF5Y6y-cYlSHNuGp-DvU&callback=initMap&v=weekly" defer></script>
<script src="{% static 'monitoring_app/js/map.js' %}"></script>

{% endblock content %}