{% extends 'utils/base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="card-title text-primary"><b><i class="fa-solid fa-circle-plus"></i> Add New User</b>
                        </h5>
                    </div>
                </div>
                <hr>
                <div class="row" style="max-height: 700px;overflow-y: scroll;">
                    <div class="col-lg-12">
                        <p class="card-headings-text" style="background-color: #6db8e6;padding: 10px;border-radius: 5px;"><i class="fa-solid fa-circle-info"></i> User Basic Information</p>
                        <div class="row">
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Fullname &nbsp;&nbsp;
                                        <small id="valid-name" style="display: none;color: red;"><strong>Enter valid name!</strong></small></b></label>
                                    <input type="text" id="name" maxlength="70" onkeypress="return /[a-zA-Z ]/i.test(event.key)" class="form-control" placeholder="Enter fullname">
                                </div>
                            </div>
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Email <i class="fa-solid fa-envelope"></i>  &nbsp;&nbsp;
                                        <small id="valid-email" style="display: none;color: red;"><strong>Enter valid email!</strong></small></b></label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Contact <i class="fa-solid fa-phone"></i>  &nbsp;&nbsp;
                                        <small id="valid-contact" style="display: none;color: red;"><strong>Enter valid contact!</strong></small></b></label>
                                    <input type="email" maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" id="contact" placeholder="Enter contact">
                                </div>
                            </div>
                            <div class="col-lg-4 mb-1">
                                <div class="form-group">
                                    <label for=""><b>User Type <i class="fa-solid fa-user-shield"></i>  &nbsp;&nbsp;
                                        <small id="valid-user-type" style="display: none;color: red;"><strong>Select valid user type!</strong></small></b></label>
                                    <select id="user-type" class="form-control">
                                        <option selected value="" class="d-none">Choose user type</option>
                                        <option value='1'>Customer User (Active User)</option>
                                        <option value='2'>Staff User (Staff User)</option>
                                        <option value='3'>Super Admin (Super User)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-1">
                                <label for=""><b>Demo User?</b></label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="demo-user" id="inlineRadio1" value="1">
                                    <label class="form-check-label" for="inlineRadio1"><b>Yes</b></label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" checked name="demo-user" id="inlineRadio2" value="0">
                                    <label class="form-check-label" for="inlineRadio2"><b>No</b></label>
                                  </div>
                            </div>
                        </div>
                        {% comment %} <hr> {% endcomment %}
                        <p class="card-headings-text" style="background-color: #6db8e6;padding: 10px;border-radius: 5px;"><i class="fa-solid fa-shield-halved"></i> User Permissions   &nbsp;&nbsp;
                            <small id="valid-permissions" style="display: none;color: red;"><strong>Select atleast 3 permissions!</strong></small></p>
                        <div class="row mb-4">
                            {% for i in permissionObj %}
                                {% if i.name not in exlude_permissions %}
                                    <div class="col-lg-3 mb-1">
                                        <input type="checkbox" class="permissions" value="{{i.id}}">
                                        <strong class="text-secondary">{{i.name}}</strong>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% comment %} <hr> {% endcomment %}
                        <p class="card-headings-text" style="background-color: #6db8e6;padding: 10px;border-radius: 5px;"><i class="fa-solid fa-address-card"></i> User Address Information</p>
                        <div class="row">
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Pincode &nbsp;&nbsp;
                                        <small id="valid-pincode" style="display: none;color: red;"><strong>Enter valid pincode!</strong></small></b></label>&nbsp;
                                    <div class="spinner-border spinner-border-sm text-primary d-none" id="pincode-spinner" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <input type="text" maxlength="6" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" onkeyup="getPostalAddress()" id="pincode" placeholder="Enter pincode">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>City</b></label>
                                    <input type="text" class="form-control" id="city" readonly placeholder="-">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>State</b></label>
                                    <input type="text" class="form-control" id="state" readonly placeholder="-">
                                </div>
                            </div>
                            <div class="col-lg-3 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Country</b></label>
                                    <input type="text" class="form-control" id="country" readonly value="India" placeholder="Enter country">
                                </div>
                            </div>
                            <div class="col-lg-12 mb-1">
                                <div class="form-group">
                                    <label for=""><b>Address &nbsp;&nbsp;
                                        <small id="valid-address" style="display: none;color: red;"><strong>Enter valid pincode!</strong></small></b></label>
                                    <textarea class="form-control" id="address" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-right">
                        <a href="" class="btn btn-sm btn-danger"><b>Cancel</b></a>
                        <a class="btn btn-sm btn-info text-white" id="submit-btn" onclick="submit_user_data()"><b><i class="fa-solid fa-circle-plus"></i> Add New
                                User</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'monitoring_app/js/custom_js/validation_js/user-form-validation.js' %}"></script>
<script src="{% static 'monitoring_app/js/custom_js/user_JS/add-user.js' %}"></script>
{% endblock content %}