{% extends 'utils/base.html' %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-10">
                        <h5 class="card-title text-primary"><b><i class="fa-solid fa-chart-simple" aria-hidden="true"></i>
                                User Stats</b></h5>
                    </div>
                    <!-- <div class="col-lg-2">
                        <select class="form-select">
                            <option selected="" class="d-none" value="">Choose parameter for stats.</option>
                            <option>Battery</option>
                            <option>Flow Rate</option>
                            <option>Water Level</option>
                            <option>Gate Opening</option>
                            <option>Velocity</option>
                          </select>
                    </div> -->
                    <!-- <div class="col-lg-2">
                        <select class="form-select">
                            <option selected="" class="d-none" value="">Choose chart type</option>
                            <option>Line Chart</option>
                            <option>Pie Chart</option>
                            <option>Bar Chart</option>
                          </select>
                    </div> -->
                </div>
                <!-- <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h4>Live chart</h4>
                        </div>
                    </div>
                </div>
                <hr> -->
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card"
                            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
                            <a class="text-dark" style="text-decoration:none;">
                                <div class="card-body">
                                    <b> Online to Offline Users Ratio</b>
                                    <hr>
                                    <p style="font-size: 30px;"><b><b class="text-success">08</b> / <b class="text-danger">02</b></b></p>                                
                                </div>
                            </a>
                        </div>
                    </div>
        
                    {% comment %} <div class="col-lg-3">
                        <div class="card"
                            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
                            <a class="text-dark" style="text-decoration:none;">
                                <div class="card-body">
                                    <b> Online to Offline Users Ratio</b>
                                    <hr>
                                    <p style="font-size: 30px;"><b><b class="text-success">08</b> / <b class="text-danger">02</b></b></p>                                
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card"
                            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
                            <a class="text-dark" style="text-decoration:none;">
                                <div class="card-body">
                                    <b> Online to Offline Users Ratio</b>
                                    <hr>
                                    <p style="font-size: 30px;"><b><b class="text-success">08</b> / <b class="text-danger">02</b></b></p>                                
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card"
                            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
                            <a class="text-dark" style="text-decoration:none;">
                                <div class="card-body">
                                    <b> Online to Offline Users Ratio</b>
                                    <hr>
                                    <p style="font-size: 30px;"><b><b class="text-success">08</b> / <b class="text-danger">02</b></b></p>                                
                                </div>
                            </a>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>

        <div class="card mt-2"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;border-radius:10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="card-title text-primary"><b><i class="fa-solid fa-users" aria-hidden="true"></i>
                                Manage Users</b></h5>
                    </div>
                    <div class="col-lg-6 text-right">
                        <a href="{% url 'add_user' %}" class="btn btn-sm btn-primary" data-toggle="tooltip"
                            data-placement="top" title="Add new user"><b><i class="fa-solid fa-circle-plus"></i> Add New
                                User</b></a>
                    </div>
                </div>
                <hr>
                <div class="row" style="max-height: 700px;overflow-y: scroll;">
                    <div class="col-lg-12">
                        <!-- <div class="text-center">
                            <h4><b>No Station Configured!</b></h4>
                        </div> -->
                        <table id="" class="table" width="100%">
                            <thead>
                                <tr>
                                    <th class="" width="200">User Name
                                    </th>
                                    <th class="" width="200">User Email
                                    </th>
                                    <th class="" width="200">User Contact
                                    </th>
                                    <th class="" width="200">Last Login At
                                    </th>
                                    <th class="" width="100">Actions
                                    </th>
                                    <th class="text-center" width="100">Enable/Disable User
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>
                                        <b>
                                            <a href="">{{user.first_name}} {{user.last_name}}</a><br>
                                            {% if user.is_superuser %}
                                                <a href="" data-toggle="tooltip"
                                                class="mt-1 p-1 text-white badge badge-danger"><b>Super Admin</b>
                                                </a>
                                            {% elif user.is_staff %}
                                                <a href="" data-toggle="tooltip"
                                                class="mt-1 p-1 text-white badge badge-success"><b>Staff User</b>
                                                </a>
                                            {% elif user.is_active %}
                                                <a href="" data-toggle="tooltip"
                                                class="mt-1 p-1 text-white badge badge-info"><b>Base User</b>
                                                </a>
                                            {% endif %}
                                        </b>
                                    </td>
                                    <td>{{user.email}}</td>
                                    <td>{% if user.contact %}{{user.contact}}{% else %}-{% endif %}</td>
                                    <td>{{user.last_login}}</td>
                                    <td>
                                        <a href="{% url 'user_view' %}" class="text-warning" data-toggle="tooltip" data-placement="top" title="view user info."><b><i class="fa-solid fa-eye"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{% url 'edit_user' %}" class="text-primary" data-toggle="tooltip" data-placement="top" title="edit user info."><b><i class="fa-solid fa-user-pen"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="" class="text-success" data-toggle="tooltip" data-placement="top" title="reset password"><b><i class="fa-solid fa-key"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch" data-toggle="tooltip"
                                        data-placement="top" title="User Enabled">             
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="" empid="" onchange="">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>

{% endblock content %}